<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>

<body>
    <div id="app">
        <div>{{ message }}</div>
        <input type="text" v-model="message" />
        <div v-if="message.length > 20"></div>
        <button @click="showAlert()">Tambahkan</button>

        <ol>
            <li v-for="todo in listTodo">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                newData: '',
                listTodo: [],
            },
            methods: {
                addTodo: function() {
                    var newItem = this.newTodo.trim()
                    if (newItem) {
                        this.listTodo.push({
                            text: newItem
                        })
                        this.newTodo = '';
                    }
                }
                showAlert() {
                    alert('list disimpan');

                }
            }
        })
    </script>
</body>

</html>