<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .list input {
        margin-top: 15px;
    }
</style>

<body>
    <div class="list" id="app">
        <ol>
            <li v-for="todo in todos" todo in todos>{{ todo.text }}</li>
            <input type="text" v-model:value="newTodo" />
            <button v-on:click="addTodo">Tambahkan</button>
            <p v-if=" todos.length == 4 ">Hebat!</p>
        </ol>
        <div></div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todos: [],
                done: false
            },
            methods: {
                addTodo: function() {
                    var newItem = this.newTodo.trim()
                    if (newItem) {
                        this.todos.push({
                            text: newItem
                        })
                        this.newTodo = '';
                    }
                }
            }
        });
    </script>
</body>

</html>